.seckill {
	background: #ECE7E7;
	border: 1px solid #CBBCCB;
	margin-left: 50px;
	margin-right: 50px;
	cursor:pointer;
}
#nav {
	width: 500px;
	height: 400px;
	border: 1px solid #D4CD49;
	position: fixed;
	left: 433px;
	top: 100px; 
	display: none;
	background: #E3E8F2;
}
#cha1 {
	float: right;
	background: #FCF7FC;
	font-size: 30px;
	
}